# Example config file for vivi.

# Server config
[server]
# Server listening address, 
# Set it to "0.0.0.0" to export server to public network
address = "127.0.0.1" 
port    = 8080

# Storage config
[storage]

# A string list of local directory to watch, such as: "./storage"
watchPath = []
